.container-principal {
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: flex-start;
  //border: 1px solid blanchedalmond;
  margin-top: 100px;
  margin-bottom: 100px;
  
 
}

.leftContent {
  width: 51%;
  height: 50%;
  text-align:right;

  /* border: 1px solid #aea9a9; */
}

.rightContent {
  display: inline;
  max-width: 100%;
  /* border: 1px solid #aea9a9; */
}

.button {
  display: inline-flex;
  position: relative;
  text-align: center;
  background-color: #171718;
  /* transform: scale(0.8); */
  right: 100px;
  top: 410px;
  margin-right: 10px;
}

.button:hover {
  border: 1px solid #2196f3;
}



.leftContent p{
  font-size: 20px;
  margin-top: 80px;
  text-align: left;
}
.leftContent h1{
  position: fixed;
  font-size: 30px;
  top:100px;
}

.cardPerfil {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  border: 1px solid #171718;
  background-color: hsl(216, 7%, 13%);
  height: 400px;
  width: 300px;
  border-radius: 25px;
  right: 170px;
  top: 140px;
  margin-bottom: 30px;
  box-shadow: 0 0 13px 1px #65727c, 0 0 13px 3px #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.cardPerfil:hover {
  transform: scale(1.05);
  //border: 1px solid #2196f3;
}

.cardPerfil img {
  height: 300px;
  width: 200px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
 
}

.cardPerfil h1 {
  position: relative;
  left: 20px;
  font-size: 25px;
  bottom: 170px;
  color:#2196f3;
}
.contentImg {
  display: flex;
  position: fixed;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid #333333;
  box-shadow: 0px 0px 10px #333333;
}

.contentImg img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  //border: 1px solid black;

  
}

.logo {
display: flex;
position: static;
height: 45px;
width: 45px;
}

.logo img {

height: 40px;
width: 40px;
border-radius: 0;
bottom: -180px;
left: -120px;
margin-left: 2px;

}

.logo img:hover {
  transform: scale(1.15);
}
