/* Home.css */

.container-principal {
  display: flex;
  position:relative;
  justify-content: space-between;
  align-items: flex-start;
  //border: 1px solid blanchedalmond;
  margin-top: 100px;
  margin-bottom: 100px;
  
 
}

.leftContent {
  width: 50%;
  height: 50%;
  text-align: left;

  /* border: 1px solid #aea9a9; */
}

.rightContent {
  display: inline;
  max-width: 100%;
  /* border: 1px solid #aea9a9; */
}

.button {
  display: inline-flex;
  position: relative;
  margin-bottom: 8px;
  margin: 5px;
  background-color: #171718;
}

.button:hover {
  border: 1px solid #2196f3;
}

.rightContent h1 {
  display: flex;
}

.leftContent p {
  font-size: 20px;
  margin-top: 80px;
}

.cardPerfil {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid #171718;
  background-color: #1f2124;
  height: 400px;
  width: 300px;
  border-radius: 25px;
  right: -60px;
  margin-bottom: 30px;
  box-shadow: 0 0 13px 1px #65727c, 0 0 13px 3px #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.cardPerfil:hover {
  transform: scale(1.05);
  //border: 1px solid #2196f3;
}

.cardPerfil img {
  height: 400px;
  width: 200px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
 
}

.contentImg {
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid #333333;
  box-shadow: 0px 0px 10px #333333;
}

.contentImg img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  //border: 1px solid black;

  
}

body {
  height: 150px;
  margin: 50px;

}