@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  overflow: hidden;
}

.container-principal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 65px;
  margin-bottom: 65px;
}

.leftContent {
  width: 52%;
  height: 50%;
  text-align: right;
  display: inline-block;
  position: static;
  margin-top: 50px;
}

.rightContent {
  display: inline-block;
  max-width: 100%;
}

.button {
  display: inline-flex;
  position: relative;
  text-align: center;
  background-color: #171718;
  right: 100px;
  top: 410px;
  margin-right: 10px;
}

.button:hover {
  border: 1px solid #2196f3;
}

.leftContent p {
  font-size: 20px;
  margin-top: 0px;
  text-align: left;
}

.leftContent h1 {
  font-size: 30px;
  margin-top: 50px;
}

.cardPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #171718;
  background-color: hsl(216, 7%, 13%);
  height: 400px;
  width: 300px;
  border-radius: 25px;
  margin-top: 30px;
  box-shadow: 0 0 13px 1px #65727c, 0 0 13px 3px #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cardPerfil:hover {
  transform: scale(1.05);
}

.cardPerfil img {
  height: 300px;
  width: 200px;
  border-radius: 50%;
}

.cardPerfil h1 {
  font-size: 25px;
  color: #2196f3;
}

.contentImg {
  display: flex;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50%;
  border: 5px solid #333333;
  box-shadow: 0px 0px 10px #333333;
}

.contentImg img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.logo {
  display: flex;
  justify-content: center;
  height: 45px;
  width: 45px;
}

.logo img {
  height: 40px;
  width: 40px;
  border-radius: 0;
  margin-left: 2px;
}

.logo img:hover {
  transform: scale(1.20);
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.tech-container img {
  width: 60px;
  height: 60px;
}

.tech-container h1 {
  font-size: 0.9rem;
  color: whitesmoke;
  margin-top: 5px;
}

.javascript img:hover,
.html img:hover,
.css img:hover,
.react img:hover,
.redux img:hover,
.express img:hover,
.PostgreSQL img:hover,
.TypeScript img:hover,
.Vite img:hover {
  transform: scale(1.10);
  box-shadow: 0 0 5px 1px #65727c, 0 0 5px 1px #fff;
  transition: transform 0.1s ease-in-out;
}

.Vite img {
  text-align: center;
}

.Vite img:hover {
  transform: scale(1.10);
  box-shadow: 0 0 5px 1px #65727c, 0 0 5px 1px #fff;
  transition: transform 0.1s ease-in-out;
}

/* Estilos para pantallas más pequeñas (máximo ancho de 768px) */
@media (max-width: 768px) {
  .container-principal {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .leftContent {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .rightContent {
    max-width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .button {
    right: 0;
    top: 0;
    margin-right: 0;
  }

  .cardPerfil {
    right: 0;
    top: 0;
    margin-bottom: 20px;
  }
 
}
