.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 100%;
  background: linear-gradient(to bottom, #756e6ea9, #262626d5);
  border-bottom: 5px solid #f8f8f8;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  display: flex;
  position: fixed;
  width: 130px;
  height: 90px;
  left: 100px;
  top: 6px;
  border: 0.1px solid rgb(201, 201, 157);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s;
  z-index: 1;
}

.logo img:hover {
  transform: scale(1.3);
}

.divLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  margin-left: auto;
}

.container {
  display: inline-block;
  align-items: center;
  color: azure;
  padding: 3px;
  background-color: #333333;
  height: 20px;
  width: 100px;
  border-radius: 5px;
  font: oblique bold 100% cursive;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  margin-top: 3px;
  margin-left: 7px;
}

.container:hover {
  color: #8B4513;
}
